* {
   font-family: "Titillium Web", sans-serif;
   /* border: 2px black solid; */
}

body {
   padding: 3vh 4%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Bangers", cursive;
}

h1 {
   line-height: 1;
   letter-spacing: 0.3rem;
}

h2 {
   letter-spacing: 0.1rem;
   font-size: 1.8rem;
}

h3 {
   letter-spacing: 0.1rem;
   font-size: 1.45rem;
}

p {
   font-size: 1.2vw;
}

.button {
   color: black;
   width: 35%;
   padding: 1% 10%;
   font-size: 1vw;
   border-radius: 2px;
   border: 0.1vw solid black;
   text-decoration: none;
   transition: 0.5s;
}

.button:hover {
   cursor: pointer;
   background: black;
   color: white;
}

nav {
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   margin-bottom: 1.5vh;
}

nav a.link {
   font-size: 1.2vw;
   color: gray;
   text-decoration: none;
}

nav a.link:hover {
   color: black;
}

.logo {
   width: 14vw;
}


section.banner {
   display: flex;
   text-align: center;
   border-bottom: 0.1vw solid black;
   height: 60vh;
   align-items: center;
   justify-content: center;
}

section.banner #text-and-button {
   width: 40%;
}

section.banner #text-and-button h1 {
   font-size: 5vw;
   margin: 0 0 5%;
}


section.banner #innovation-image {
   width: 37%;
}

section.banner #innovation-image img {
   width: 100%;
}

section.info-list {
   margin-top: 4%;
   border-bottom: 0.1vw solid black;
   padding-bottom: 2%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

section.info-list .info-box {
   width: 49%;
}

section.info-list .info-box.third {
   width: 32.5%;
}

section.info-list img {
   width: 100%;
   margin: 2vh 0;
}

section.info-list .info-box #features {
   width: 49%;
}

section.contact {
   margin-top: 3%;
}

section.contact address p {
   margin: 0.5% 0;
}

footer {
   text-align: center;
   font-size: 1.3vw;
   padding: 3% 0;
}
